/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
}

header, footer {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #FFA500;
  font-weight: bold;
}

section , div ,aside{
  color: #ffffff;
}

#left , #right {
  background: #30948d;
  float: left;
  width: 33%;
  padding: 20px;
}

#middle {
  float: left;
  background: #931212;
  width: 33%;    
  padding: 20px;

}


#full {
  background: #394549;
    width: 100%;
    overflow: auto;
    clear: both;
}

#division {
  background: #6ea3da;
  width: 100%;
  padding: 20px;
  margin: 40px 30px 10px 20px;
  height: 72px;
}


#aside{
  float: left;
  width: 20%;
  height: 200px;
  background: #a6b747;
  border: 10px solid #eee;
  padding: 20px;
  margin: 20px;
}
}



 

